*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #ffc0cb, #800080);
}

main{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
ul{
    width: 65%;
}
li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    pointer-events: all;
    margin-bottom: 15px;
    
}

p{
    height: 0px;
    overflow: hidden;
    transition: 0.2s;
}
